<div class="container">
    <img [src]="product?.imageUrl" [alt]="product?.name" class="product-image">
  
    <div class="row">
      <div class="col-md-11">
        <h2>{{product?.name}} </h2>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <div><strong>Description:</strong> {{product?.description}}</div>
        <div><strong>Price:</strong> ${{product?.price}}</div>
      </div>
      <div class="col-md-6">
        <strong>Category:</strong><br />
          {{product?.category}}
      </div>
    </div>
  </div>