<div class="container">
    <div *ngIf="product?.imageUrl" class="productimage">
      <img [src]="product?.imageUrl" [alt]="product?.name">
    </div>
  
    <div class="row">
      <div class="col-md-11">
        <h2>{{product?.name | uppercase}} </h2>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <div><strong>Description:</strong> {{product?.description}}</div>
        <div><strong>Price:</strong> {{product?.price | currency:'USD'}}</div>
      </div>
      <div class="col-md-6">
        <strong>Category:</strong><br />
          {{product?.category}}
      </div>
    </div>
  </div>